h1{
	color: red;
	text-align: center;
}

#content{
	
}

#caramba{
	width: 200px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

#sidebar{
	background-color: yellow;
	height: auto;
	width: 300px;
}


